<div class="navContainer" (click)="create()">
  Create Game
</div>
<label>
  Id for joining or spectating
  <input type="number" (change)="changeId($event)" value="{{this.gameId}}">
</label>
<label>
  Passcode for joining or spectating
  <input type="password" (change)="changePass($event)" value="{{this.passcode}}">
</label>
<div class="navContainer" (click)="join()">
  Join Game
</div>
<div class="navContainer" (click)="spectate()">
  Spectate Game
</div>
<!-- TODO move to game comp -->
<!--
<svg xmlns="http://www.w3.org/2000/svg" width="500" height="500" id="hexgrid">
  <app-hex *ngFor="let line of map.getHexes()" [line]="line"></app-hex>
</svg>
-->
