@media screen and (max-width: 600px) {
  #grid-container{
    display: grid;
    margin: 5% 0 0 0;
    grid-template-rows: 30% 20% 40% 30%;
    gap: 5% 0;
    grid-template-columns: 100%;
    grid-template-areas:
      "logo"
      "create"
      "join"
      "spectate";
  }
  #logo{
    height: 100%;
  }
}
@media screen and (min-width: 600px){
  #grid-container{
    display: grid;
    margin: 5% 0 0 0;
    grid-template-rows: 20% 40% 30% auto;
    gap: 5% 0;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "create logo"
      "join logo"
      "spectate logo";
  }
  #logo{
    width: 100%;
  }
}
#create-container{
  grid-area: create;
  display: grid;
  grid-template-columns: 50% 50%;
}
#join-container{
  grid-area: join;
  display: grid;
  grid-template-columns: 50% 50%;
}
#spectate-container{
  grid-area: spectate;
  display: grid;
  grid-template-columns: 50% 50%;
}
#logo-container {
  grid-area: logo;
  display: flex;
  align-items: center;
  justify-content: center;
}
input{
  align-self: center;
  height: 1.5rem;
}
label{
  align-self: center;
}
.nav-container{
  margin: 0 auto;
  width: 75%;
}
.button{
  font-size: larger;
  font-weight: bold;
  background-color: white;
  color: black;
  justify-content: center;
  align-items: center;
  grid-column: 1/3;
}

