.navContainer{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
}
.navContainer:hover{
  transform: translate(-1px,-1px);
}
.navContainer:active{
  transform: translate(1px,1px);
}
input :read-only{
  background-color: darkgray;
}
input[type='color']{
  vertical-align: middle;
}
