.nav-container{
  margin: 0 20%;
  padding: 5%;
  background-color: rgba(0, 0, 0, 0.75);
  border-style: double;
  border-width: thick;
}
.button{
  transition: all .3s ease-out;
  color: black;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/3;
}
.button:hover{
  transform: scale(1.05, 1.05);
}
.button:active{
  transform: scale(0.95, 0.95);
}
#grid-container{
  display: grid;
  margin: 5% 0 0 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 40% 40% 40%;
  gap: 5% 0px;
  grid-template-areas:
    "create-con right right"
    "join-con right right"
    "spectate-con right right";
}
#create-container{
  grid-area: create-con;
  display: grid;
  grid-template-columns: 50% 50%;
}
#join-container{
  grid-area: join-con;
  display: grid;
  grid-template-columns: 50% 50%;
}
#right{
  grid-area: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
#spectate-container{
  grid-area: spectate-con;
  display: grid;
  grid-template-columns: 50% 50%;
}
#logo{
  width: 50%;
}
input{
  margin: 10% 0;
}
label{
  align-self: center;
}
