<div id="grid-container">
  <div id="size">
    <div>
      Boardheight
    </div>
    <input type="number" (change)="updateHeight($event)" value="{{this.creationService.boardHeight}}">
    <div>
      Boardwidth
    </div>
    <input type="number" (change)="updateWidth($event)"  value="{{this.creationService.boardWidth}}">
    <div>
      <div>
        Board generation method
      </div>
      <button (click)="randomBoardToggle()">{{randomBoard ? 'Random board' : 'Custom board'}}</button>
    </div>
  </div>
  <div id="topology">
    <div *ngIf="randomBoard">
      <div>To be implemented</div>
      <!--
      <div>
        <label>
          Balance amount of fields for each resource
          <input type="checkbox" value="{{balancedFields}}" checked>
        </label>
      </div>
      <div class="grid" [style.display]="balancedFields ? 'grid' : 'none'">
        <div>
          Standart resource fields
        </div>
        <input type="number" (change)="changeResourceFields($event)" value="{{brickFields}}"/>
      </div>
      <div class="grid" [style.display]="balancedFields ? 'none' : 'grid'">
        <div>
          Brickfields
        </div>
        <input type="number" (change)="changeBrickfields($event)" value="{{brickFields}}">
        <div>
          Lumberfields
        </div>
        <input type="number" (change)="changeLumberfields($event)" value="{{lumberFields}}">
        <div>
          Woolfields
        </div>
        <input type="number" (change)="changeWoolfields($event)" value="{{woolFields}}">
        <div>
          Grainfields
        </div>
        <input type="number" (change)="changeGrainfields($event)" value="{{grainFields}}">
        <div>
          Orefields
        </div>
        <input type="number" (change)="changeOrefields($event)" value="{{oreFields}}">
      </div>
      <div class="grid">
        <div>
          Goldfields
        </div>
        <input type="number" (change)="changeGoldfields($event)" value="{{goldFields}}">
      </div>
      -->
    </div>
    <div *ngIf="!randomBoard">
      <p>Select what you want to place:</p>
      <form (change)="toggleUI()" [formGroup]="uiChoose">
        <label>
          <input type="radio" value="resources" formControlName="ui">
          <span>Resources</span>
        </label>
        <label>
          <input type="radio" value="harbours" formControlName="ui">
          <span>Harbours</span>
        </label>
        <label>
          <input type="radio" value="numbers" formControlName="ui">
          <span>Numbers</span>
        </label>
      </form>
      <div *ngIf="ui == 'resources'">
        <div>
          <form (change)="updateHexType()" [formGroup]="hexTypeChoose">
            <label>
              <input type="radio" value="{{brick}}" formControlName="hextype">
              <span>Brick</span>
            </label>
            <label>
              <input type="radio" value="{{lumber}}" formControlName="hextype">
              <span>Lumber</span>
            </label>
            <label>
              <input type="radio" value="{{wool}}" formControlName="hextype">
              <span>Wool</span>
            </label>
            <label>
              <input type="radio" value="{{grain}}" formControlName="hextype">
              <span>Grain</span>
            </label>
            <label>
              <input type="radio" value="{{ore}}" formControlName="hextype">
              <span>Ore</span>
            </label>
            <label>
              <input type="radio" value="{{gold}}" formControlName="hextype">
              <span>Gold</span>
            </label>
            <label>
              <input type="radio" value="{{water}}" formControlName="hextype">
              <span>Water</span>
            </label>
          </form>
        </div>
        <button (click)="randomPlaceResources()">Distribute Resources randomly</button>
      </div>
      <div *ngIf="ui == 'harbours'">
        <form (change)="updateHarbour()" [formGroup]="harbourChoose">
          <label>
            <input type="radio" value="{{TTO}}" formControlName="harbourtype">
            <span>3-1</span>
          </label>
          <label>
            <input type="radio" value="{{brick_harbour}}" formControlName="harbourtype">
            <span>Brick</span>
          </label>
          <label>
            <input type="radio" value="{{lumber_harbour}}" formControlName="harbourtype">
            <span>Lumber</span>
          </label>
          <label>
            <input type="radio" value="{{wool_harbour}}" formControlName="harbourtype">
            <span>Wool</span>
          </label>
          <label>
            <input type="radio" value="{{grain_harbour}}" formControlName="harbourtype">
            <span>Grain</span>
          </label>
          <label>
            <input type="radio" value="{{ore_harbour}}" formControlName="harbourtype">
            <span>Ore</span>
          </label>
        </form>
      </div>
      <div *ngIf="ui == 'numbers'">
        <div>
          <label>
            <input (change)="updateNumber($event)" type="number" value="{{this.creationService.choosenNumber}}">
            <span>Number</span>
          </label>
        </div>
        <button (click)="randomPlaceNumbers()">Distribute numbers randomly</button>
      </div>
      <p>Click the desired position in the right representation to place</p>
    </div>
  </div>
  <div id="charts">
    <app-bar-chart [width]="100" [height]="100" [data]="placedNumbers" [labels]="numberLabels"></app-bar-chart>
    <app-bar-chart [width]="100" [height]="100" [data]="placedTypes" [labels]="typeLabels"></app-bar-chart>
  </div>
  <div id="preview">
    <app-hex-svg [onHexClickFun]="onHexClick" (click)="interact($event)" [hex]="this.creationService.hexes"></app-hex-svg>
  </div>
  <div class="footer">
    <div class="nav-but" (click)="back()">
      back
    </div>
    <div class="nav-but" (click)="publishGame()">
      Publish game
    </div>
  </div>
</div>

