#grid-container {
  display: grid;
}

/* only on small screen */
@media screen and (max-width: 600px) {
  #grid-container {
    grid-template-areas:
    "size size"
    "ui-selection ui-selection"
    "ui ui"
    "preview preview"
    "charts charts"
    "back publish";
    gap: 0 0;
  }
}

/* only on big screen */
@media screen and (min-width: 600px) {
  #grid-container {
    grid-template-areas:
    "left right";
    gap: 0 0;
  }
}

#size{
  grid-area: size;
  display: grid;
  grid-template-columns: 33% 66%;
}
#size p{
  grid-column: 1/3;
}
#ui-selection{
  grid-area: ui-selection;
}
#ui{
  grid-area: ui;
  display: grid;
}
#preview{
  grid-area: preview;
}
#charts{
  grid-area: charts;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
#back{
  grid-area: back;
}
#publish{
  grid-area: publish;
}
#left{
  grid-area: left;
}
#right{
  grid-area: right;
}
