#rules{
  margin: 5% 5% 5% 5%;
  display: grid;
  grid-gap: 0;
  grid-template-columns: 50% 50%;
}
#left{
  margin: 0 0;
  padding: 5%;
  background-color: rgba(0, 0, 0, 0.75);
  border-style: double;
  border-width: thick;
  display: grid;
}
#right{
  padding: 5%;
  margin: 0 0;
  background-color: rgba(0, 0, 0, 0.75);
  border-style: double;
  border-width: thick;
}
#dev_cards{
  padding: 5%;
  display: grid;
  grid-template-columns: 50% 50%;
}
#dev_header{
  padding: 5%;
  grid-column: 1/3;
}
#back{
  max-width: 4rem;
  margin-left: 5%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75);
  border-style: double;
  border-width: thick;
}
#continue{
  max-width: 9rem;
  float: right;
  justify-self: flex-end;
  margin-right: 5%;
  background-color: rgba(0, 0, 0, 0.75);
  border-style: double;
  border-width: thick;
  text-align: center;
}
#footer{
  display: grid;
  grid-template-columns: 50% 50%;
}
label{
  align-self: flex-end;
}

