@import '~@angular/material/prebuilt-themes/indigo-pink.css';
div[ng-view], html, body{
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  background: url("assets/mountains_background.jpg") no-repeat center center fixed;
  font-family: Roboto, Arial, sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}
.resource_logo{
  width: 3rem;
  background-color: white;
  border-radius: 100%;
}
.mat-card{
  background-color: rgba(66,66,66,0.80) !important;
}
