@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html, body {margin: 0; height: 100%; overflow: hidden}
body {
  margin: 0;
  background: url("assets/mountains_background.jpg") no-repeat center center fixed;
  font-family: Roboto, Arial, sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}
.resource_logo{
  width: 3rem;
  background-color: white;
  border-radius: 100%;
}
