<p *ngIf="this.gameService.gameObject.state !== 1">It's {{this.gameService.gameObject.whos_turn.name}}'s turn</p>
<p *ngIf="this.gameService.gameObject.state === 1">Determine Turn Order</p>
<div>
  <ng-template [ngIf]="this.gameService.gameObject">
    <app-meta-info [info]="this.gameService.gameObject"></app-meta-info>
  </ng-template>
</div>
<div>
  <ng-template [ngIf]="this.gameService.board">
    <app-hex-svg [onHexClickFun]="onHexClick" (click)="interact($event)"
                 [hex]="this.gameService.board.hexes" [vertices]="this.gameService.board.vertices"
                 [harbours]="this.gameService.board.harbours" [edges]="this.gameService.board.edges"></app-hex-svg>
  </ng-template>
</div>
<div>
  <ng-template [ngIf]="this.gameService.playerObject">
    <app-own-cards [player]="this.gameService.playerObject"></app-own-cards>
  </ng-template>
</div>
<button *ngIf="this.gameService.gameObject.state === 1" (click)="this.gameService.determineOrder().subscribe()">Determine Order</button>
<button *ngIf="this.gameService.gameObject.state === 2 && this.gameService.gameObject.whos_turn.PID === this.gameService.playerObject.meta.PID">Roll Dice</button>
<button *ngIf="this.gameService.gameObject.state === 5 &&
               this.gameService.gameObject.whos_turn.PID === this.gameService.playerObject.meta.PID &&
               this.gameService.vert_blueprint" (click)="this.submitBuilding()">Submit Blueprint</button>
